@import "functions";

.logo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    max-width: rem(275px);
    text-align: center;

    .motion-logo {
        margin-bottom: 15px;
    }

    h1 {
        margin-bottom: rem(25px);
        font-weight: 300;
        font-size: rem(30px);
    }
    p {
        margin-bottom: rem(40px);
        line-height: rem(24px);
        font-weight: 300;
        opacity: 0.6;
    }
}

.button-container {
    display: flex;

    .button:first-child {
        margin-right: rem(16px);
    }
}

.button {
    cursor: pointer;
    padding: rem(10px) rem(24px);
    border-radius: rem(100px);
    border: 2px solid rgba(255, 255, 255, 0.5);
    line-height: rem(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: rem(126px);
    text-transform: uppercase;
    font-size: rem(10px);
    &.signup {
        border-color: rgba(0, 0, 0, 0.07);
    }
    &.submit {
        margin-top: rem(167px);
        background: $linear-gradient;
        font-size: rem(12px);
        padding: rem(25px);
        min-width: rem(260px);
        border: none;
        color: white;
    }
    &:focus {
        outline: none;
    }
}

.rights-reserved {
    position: absolute;
    bottom: rem(40px);
    color: white;
    p {
        font-size: rem(12px);
        font-weight: 300;
    }
}
.icon-container {
    display: flex;
    justify-content: center;
    margin-bottom: rem(42px);
    column-gap: rem(16px);
    > div {
        width: rem(40px);
        height: rem(40px);
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            opacity: 0.35;
            width: 100%;
        }
        &:first-child {
            margin: 0;
        }
    }
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: rem(14px);
    align-items: center;
    padding: rem(40px);
    .button {
        margin-left: rem(14px);
    }
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    height: 100%;
    .content-inner {
        max-width: rem(340px);
        width: 100%;
    }

    h2 {
        font-size: rem(40px);
        font-weight: 400;
        text-align: center;
        margin-bottom: rem(65px);
    }
    form {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    .form-field {
        width: 100%;
        border-bottom: 2px solid rgba(0, 0, 0, 0.16);
        display: flex;
        align-items: center;
        margin-bottom: rem(36px);
        img {
            margin-right: rem(26px);
        }
        input {
            font-size: rem(16px);
            border: none;
            padding: rem(13px) rem(13px) rem(13px) 0;
            &:focus{
                outline: none;
            }
        }
    }
}