* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.dancefloor {
    border: 3px solid black;
    background-color: black;
    width: 508px;
    height: 508px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2px;    
    row-gap: 2px; 
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.button {
    height: 80%;
    width: 90%;
    border-radius: 200px;
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }