/* this renders a pseudo element that indicates the order of the current question */
.question-card::before {
  content: attr(
    data-order
  ); /* accessing the value of a data attribute in css */
  font-size: 2rem;
  position: absolute;
  top: -4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  line-height: 1.5em; /* needs to be the same as height to center content vertically */
  background-color: var(--bg-color-choice-hover);
  border-radius: 50%;
  color: white;
  box-shadow: 0 2px 2px 0 rgba(252, 238, 238, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.question-card {
  position: relative;
  background-color: white;
  max-width: 90vw;
  width: 700px;
  border-radius: 5px;
  border: 1px solid #aaa;
  margin: 0 auto;
  margin-top: 5rem;
  box-shadow: 0 2px 2px 0 rgba(252, 238, 238, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

.question-text {
  padding: 3rem 2rem;
  font-size: 1.25rem;
}
