.NewTodo {
  form {
    display: flex;
    justify-content: space-between;
    height: 2em;

    input[type='text'] {
      border: 1px solid black;
      border-radius: 0;
      width: 100%;
      outline: none;
      font-size: inherit;
      padding: 0.5em;
    }

    input[type='submit'] {
      width: 5em;
    }
  }
}
